# About
Test to calculate median from original data

# Libraries

In [1]:
%run "main_global.ipynb"

Connection with MySQL database is ready!

In [2]:
# UDF

In [5]:
station = "SE"
table_name = "sima_pm25"


sqlq = "SELECT dayname(datetime), hour(datetime), {} FROM {} where {} > 0 order by SE desc".format(station, table_name, station)

station_data = DataFrame(aux_qdata(sqlq), columns = ["day", "hour", station])

station_data.head()

       day  hour     SE
0   Sunday     1  349.0
1  Tuesday     3  235.0
2  Tuesday     0  215.0
3   Sunday     2  187.0
4   Friday     6  180.0