# About

# Libraries

In [1]:
#pip install fancyimpute

In [53]:
%run "../main_global.ipynb"

Connection with MySQL database is ready!

In [54]:
%run "../main_mvi.ipynb"

Functions for MVI Processes are ready!

In [4]:
from numpy import nan
from fancyimpute import IterativeImputer

# UDF

In [5]:
def mvi_process_tables(path, mvi_method, mvi_method_name, write_out = True, raw_list = raw_table_list()):
    results = empty_df_measurement_station()
    create_external_objects(mvi_method_name, path)
    
    for table_name in raw_list:
        
        # Read raw dataset
        sqlq = "SELECT * FROM {}".format(table_name)
        
        # Reformat table
        raw_df = reindex_aq_table(qdata(sqlq))
        
        # Count NaN values 
        nulls_count = count_nulls(raw_df, table_name)        
        results = results.append(nulls_count)

        # Write out table
        if write_out:
            mvi_df = mvi_method(raw_df)
            
            mvi_df = mvi_df.reset_index(drop = False)
            full_path = path + "/" + mvi_method_name + "_" + table_name + ".csv"

            mvi_df.to_csv(full_path, encoding='utf-8', index=False)
        
    return results

# Main

## > MVI - Mean Substitution

In [6]:
mvi_method_name = "MVI_mean"
directory = mvi_method_name + "_SIMA_Data"

!mkdir {directory}

mkdir: cannot create directory ‘MVI_mean_SIMA_Data’: File exists

In [7]:
results = mvi_process_tables(directory, mvi_mean, mvi_method_name, False)
results

,SE,NE,CE,NO,SO,NO2,NTE,NE2,SE2,SO2,SE3,SUR,NTE2,NE3
sima_co,8654,21290,11573,23458,19034,21311,26729,23645,36567,13742,28652,44351,28194,50516
sima_no,55552,35881,13875,35461,26568,38353,44991,48662,29204,11414,25743,50725,42282,50506
sima_no2,54533,44883,12360,37954,30646,40175,44647,48529,30838,11818,25584,50452,43079,50372
sima_nox,54576,44902,12045,37625,29200,38212,44683,48092,28691,10508,25565,48053,42732,50410
sima_o3,3203,19410,15358,23516,15616,28023,44175,52113,36495,7612,29216,51681,43896,50350
sima_pm10,2961,2114,2670,3499,2697,8106,6549,4051,3690,11748,24930,26032,26650,53228
sima_pm25,16200,27663,23830,25019,17977,38194,38803,18838,38919,28115,30808,44169,32794,63935
sima_prs,20835,3803,2971,2662,2167,7610,10833,4060,5990,1425,24017,24670,24912,50688
sima_rainf,61570,62121,63600,62806,62624,63491,63925,61617,61950,62575,62683,63935,62673,63574
sima_rh,3506,4435,1637,1283,1513,8689,12110,9607,15233,1410,25649,24715,24916,50379
sima_so2,10384,14464,21219,27083,25678,39651,38246,36686,21099,27391,31930,39404,41368,50737
sima_sr,8877,35438,11733,17603,22008,29091,27311,11380,26030,31064,23778,25060,43339,57156
sima_tout,4373,3803,1821,7084,1606,7250,10493,4072,2819,1410,23905,24908,33406,50365
sima_wdr,36881,21688,2059,7505,28211,24975,10178,25583,17047,9831,23796,34469,24883,50304
sima_wsr,1380,8105,1625,5562,9630,6911,12025,7596,7864,10422,25182,30092,24853,50868

### >> Creating External Objects

In [8]:
create_external_objects(mvi_method_name, directory)

## > MVI - Spatial Average

In [9]:
mvi_method_name = "MVI_spatialAvg"
directory = mvi_method_name + "_SIMA_Data"

!mkdir {directory}

mkdir: cannot create directory ‘MVI_spatialAvg_SIMA_Data’: File exists

In [10]:
results = mvi_process_tables(directory, mvi_spatialAvg, mvi_method_name, False)

### >> Creating External Objects

In [11]:
create_external_objects(mvi_method_name, directory)

## > MVI - Multiple imputation by chained equations (MICE)

In [50]:
mvi_method_name = "MVI_MICE"
directory = mvi_method_name + "_SIMA_Data"

!mkdir {directory}

mkdir: cannot create directory ‘MVI_MICE_SIMA_Data’: File exists

In [34]:
results = mvi_process_tables(directory, mvi_MICE, mvi_method_name, True)

/home/cesar/anaconda3/envs/hdl_project/lib/python3.7/site-packages/sklearn/impute/_iterative.py:701: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  ConvergenceWarning,
/home/cesar/anaconda3/envs/hdl_project/lib/python3.7/site-packages/sklearn/impute/_iterative.py:701: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  ConvergenceWarning,

### >> Creating External Objects

In [51]:
create_external_objects(mvi_method_name, directory)