# About
After uploading the datasets into the MySQL database, some data shapes are expected and must be returned after uploading the data.

# Libraries

In [1]:
%run "../main_global.ipynb"

Connection with MySQL database is ready!

# Parameters

In [3]:
'datetime'
features = ['co', 'no', 'no2', 'nox', 'o3', 'pm10', 'pm25', 'so2', 'tout', 'wdr', 'wsr', 'rh', 'sr', 'rainf', 'prs']

In [4]:
stations = ['SE', 'NE', 'CE', 'NO', 'SO', 'NO2', 'NTE', 'NE2', 'SE2', 'SO2', 'SE3', 'SUR', 'NTE2', 'NE3']

# Main

## > Same rowcount for every raw dataset
Each raw dataset must show that it contains 63936 observations.

In [7]:
for f in features:
    print(aux_qdata("Select count(*) from sima_{}".format(f)), f)

[(63936,)] co
[(63936,)] no
[(63936,)] no2
[(63936,)] nox
[(63936,)] o3
[(63936,)] pm10
[(63936,)] pm25
[(63936,)] so2
[(63936,)] tout
[(63936,)] wdr
[(63936,)] wsr
[(63936,)] rh
[(63936,)] sr
[(63936,)] rainf
[(63936,)] prs

## > Same date range for every table
Every raw dataset must show same date range, going:
* from: 2015-01-01 00:00:00
* to  : 2022-04-17 23:00:00

In [5]:
for f in features:
    print(aux_qdata("Select min(datetime) as min, max(datetime) as max from sima_{}".format(f)), f, )

[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] co
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] no
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] no2
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] nox
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] o3
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] pm10
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] pm25
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] so2
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] tout
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] wdr
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] wsr
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] rh
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] sr
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] rainf
[(datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2022, 4, 17, 23, 0))] prs

## > Same rowcount for every View
Data is restructured using joins to fit all the information from each monitoring station within a same data object. In this case Views. Each View must show that it contains 63936 observations. This proves that the data has been correctly matched and joined.

In [8]:
for s in stations:
    print(aux_qdata("Select count(*) from sima_station_{}".format(s)), s)

[(63936,)] SE
[(63936,)] NE
[(63936,)] CE
[(63936,)] NO
[(63936,)] SO
[(63936,)] NO2
[(63936,)] NTE
[(63936,)] NE2
[(63936,)] SE2
[(63936,)] SO2
[(63936,)] SE3
[(63936,)] SUR
[(63936,)] NTE2
[(63936,)] NE3

# DROP VIEWS command
In case that the views don't show the expected values, they must be done and redone.

In [11]:
for s in stations:
    print("DROP VIEW IF EXISTS {}.{}_sima_station_{};".format(mysql_database_name, s))

DROP VIEW IF EXISTS HDL_Project.sima_station_SE;
DROP VIEW IF EXISTS HDL_Project.sima_station_NE;
DROP VIEW IF EXISTS HDL_Project.sima_station_CE;
DROP VIEW IF EXISTS HDL_Project.sima_station_NO;
DROP VIEW IF EXISTS HDL_Project.sima_station_SO;
DROP VIEW IF EXISTS HDL_Project.sima_station_NO2;
DROP VIEW IF EXISTS HDL_Project.sima_station_NTE;
DROP VIEW IF EXISTS HDL_Project.sima_station_NE2;
DROP VIEW IF EXISTS HDL_Project.sima_station_SE2;
DROP VIEW IF EXISTS HDL_Project.sima_station_SO2;
DROP VIEW IF EXISTS HDL_Project.sima_station_SE3;
DROP VIEW IF EXISTS HDL_Project.sima_station_SUR;
DROP VIEW IF EXISTS HDL_Project.sima_station_NTE2;
DROP VIEW IF EXISTS HDL_Project.sima_station_NE3;